$main-font: "RobotoSlab";
$additional-font: "Roboto";

$title-font: $main-font, Arial, Helvetica, sans-serif;
$text-font: $additional-font, Arial, Helvetica, sans-serif;

$main-dark-color: #1a1b22;
$second-dark-color: #008080;
$main-light-color: #ffffff;
$second-ligth-color: #B6BCBF;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}